@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f2632;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
